@import "compass";
@import "settings";
@import "foundation";

@import "functions";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
//--------------------------------------------------------------

body {
	background-image: url('../images/bg.png'), url(../images/);
}

.dropdown-horizontal li {
	display: inline-block;
}

//--------------------------------------------------------------
/* ---------------------------------------- *
 * main interface elements
 * ---------------------------------------- */

/* navigation */
.top-bar {
	@include box-shadow(rgba(black, 0.2) 0 2px 2px);

	.brand {
		width: ems(110px);
		margin-left: ems(30px);
	}
}

.main-footer {
	color: $color-base-pink;

	#legals-list {
		display: inline-block;
	}
}

.closure {
	width: ems(110px);
}


.circle-image {
	border-radius: 50%;
}

.avatar {
	@extend .circle-image;
	border: 3px solid white;
	max-width: ems(65px) !important;
}

#realmermaids-banner img {
	width: 100%;
	max-width: none !important;
}

.title {
	.instagram-upload-icon {
		margin-right: 15px;
	}

	h1 {
		text-transform: uppercase;
		color: $color-base-violet;
		line-height: 1em !important;

		strong { color: $color-base-pink; }
	}
}

#upload-section {
	margin-top: 30px;
}
//--------------------------------------------------------------
/* ---------------------------------------- *
 * box styles
 * ---------------------------------------- */
$box-percentage-width: 20%;
$box-min-width: rem-calc(285px);
$box-max-width: rem-calc(320px);

 .box, .box-sizer {
		width: 20%;
		//min-width: $box-min-width;

		/** Media queries breakpoints */

		/* standard smarphones */
		@media only screen and (max-width: 480px) {
			min-width: 320px;
			max-width: none !important;
			width: 100%;
		}

		/* medium sized phones-phablets*/
		@media only screen and (min-width: 481px) and (max-width: $small-breakpoint) {
			width: 50%;
			min-width: 0px !important;
		}

		@media #{$medium-only} {
			width: 25%;
			min-width: 0px !important;
		}
 }

.box {
	margin: 0;

	img { max-width: 100%; }
}

.box-w2 {
	width: $box-percentage-width * 2 !important;

	/** Media queries breakpoints */
	@media only screen and (min-width: 481px) and (max-width: $small-breakpoint) {
		width: 100%;
	}

	@media only screen and (max-width: 480px) {
		width: 100%;
	}
}

//--------------------------------------------------------------
/* ---------------------------------------- *
 * moment box styles
 * ---------------------------------------- */
.moment {
	position: relative;
	overflow: hidden;

	@include background-image(linear-gradient(44.93deg, rgba(242, 146, 123, 0.7) 0%, rgba(255, 176, 116, 0.7) 29.23%, rgba(107, 228, 192, 0.7) 100%));

	&.moment-featured:before {
		content: "";
		background: url('../images/featured-icon.png') no-repeat;
		background-size: contain;
		width: rem-calc(40px);
		height: rem-calc(40px);

		position: absolute;
		top: 10px;
		right: 10px;
	}

	.moment-data {
		position: absolute;
		width: 100%;
		height: 100%;

		top: 0; left:0; right: 0;
		padding: ems(20px);

		text-align: center;

		#{headings()}, p, a { color: white; opacity: 0 }

		#{headings()} {
			@include transition(all 0.35s);

			@include scale3d(0.8, 0.8, 1);
			@include transform-origin(50%, 100%);

			@media #{$medium-only} {
				font-size: 1.2em;
			}
		}

		.avatar {
			opacity: 0;
			@include transition(all 0.35s);

			@include scale3d(0.8, 0.8, 1);
			@include transform-origin(50%, 100%);
		}
	}

	.moment-data-user-message {
		border: 1px solid white;
		padding: ems(10px);
		opacity: 0;

		@include transition(all 0.35s);

		@include scale3d(0.4, 0.4, 1);
		@include transform-origin(50%, 100%);

		@media #{$medium-only} {
			p {
					display: none;
			}
		}
	}

	/* moment hover effect */
	img, blockquote {
		-webkit-transition: opacity 0.35s, all 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}

	&:hover {
		/* scale the moment image to be very big */
		.moment-image {
			opacity: 0.1;
			@include scale3d(2, 2, 1);
		}

		/* fade the avatar in */
		.avatar {
			opacity: 1;
			@include scale3d(1, 1, 1);
		}

		/* fade all the h's in with a scaling effect */
		#{headings()}, p,
	  .moment-data-user-message,
	  .moment-data-user-message * {
			opacity: 1;
			@include scale3d(1, 1, 1);
		}
	}
}